{% raw %}{{ with secret {% endraw %}"{{ renew_nomad_certificates_info['issuer_path'] }}" "common_name={{ renew_nomad_certificates_info['common_name'] }}" "ttl={{ renew_nomad_certificates_info['ttl'] }}" "alt_names=localhost{% if renew_nomad_certificates_info['is_server'] %},server.{{ renew_nomad_certificates_nomad_dc_name }}{% endif %}{% if renew_nomad_certificates_info['is_client'] %},client.{{ renew_nomad_certificates_nomad_dc_name }}{% endif %}{% if renew_nomad_certificates_info['include_nomad_service']%},{{ renew_nomad_certificates_nomad_service_name }}{% endif %}" "ip_sans=127.0.0.1"{% raw %} }}{% endraw %}

{% raw %}{{ .Data.issuing_ca }}{% endraw %}

{% raw %}{{ end }}{% endraw %}
